.gradle
.idea
.qodana
build
src/test/testdata/testdata.iml
/log_backup/
moveMethodResponses*.json
.DS_Store
data/refminer_data/contains_a_mm/dbeaver_res.json
data/refminer_data/contains_a_mm/elastic_res.json
data/refminer_data/contains_a_mm/flink_res.json
data/refminer_data/contains_a_mm/ghidra_res.json
data/refminer_data/contains_a_mm/halo_res.json
data/refminer_data/contains_a_mm/redisson_res.json
data/refminer_data/contains_a_mm/selenium_res.json
data/refminer_data/contains_a_mm/spring_framework_res.json
data/refminer_data/contains_a_mm/springboot_res.json
data/refminer_data/contains_a_mm/stirling_res.json
data/refminer_data/contains_a_mm/vue_pro_res.json
data/refminer_data/preprocessed/dbeaver_res.json
data/refminer_data/preprocessed/elastic_res.json
data/refminer_data/preprocessed/flink_res.json
data/refminer_data/preprocessed/ghidra_res.json
data/refminer_data/preprocessed/halo_res.json
data/refminer_data/preprocessed/redisson_res.json
data/refminer_data/preprocessed/selenium_res.json
data/refminer_data/preprocessed/spring_framework_res.json
data/refminer_data/preprocessed/springboot_res.json
data/refminer_data/preprocessed/stirling_res.json
data/refminer_data/preprocessed/vue_pro_res.json
src/main/python/mm_analyser.egg-info
evaluation.ini
/data/refminer_data/mm-assist/
